doctype html
html
  head
    title Querys SPARQL
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/submit.js')
  body
    block content
